.display
{
    display: block;
    font-size: 35px;
    min-height: 100vh;
    padding-top: 250px;
}

.learn
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

.learn_button
{
    opacity: 0;
    font-size: 30px;
    animation: buttonFade linear 2s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    -webkit-animation: buttonFade linear 2s;
    -webkit-animation-delay: 3s;
    -webkit-animation-fill-mode:forwards;
}

.greeting
{
    opacity: 0;
    color: #d9f4ff;
    font-size: 25px;
    margin-top: -20px;
    margin-bottom: -20px;
    animation: fadeIn linear 2s;
    animation-delay: 0.75s;
    animation-fill-mode: forwards;
    -webkit-animation: fadeIn linear 2s;
    -webkit-animation-delay: 0s;
    -webkit-animation-fill-mode:forwards; 
    -moz-animation: fadeIn linear 2s;
    -o-animation: fadeIn linear 2s;
    -ms-animation: fadeIn linear 2s;
}

.name
{
    opacity: 0;
    color: #00a4e6;
    font-size: 85px;
    margin-top: -20px;
    margin-bottom: -20px;
    animation: fadeIn linear 2s;
    animation-delay: 0.75s;
    animation-fill-mode: forwards;
    -webkit-animation: fadeIn linear 2s;
    -webkit-animation-delay: 0.25s;
    -webkit-animation-fill-mode:forwards;
    -moz-animation: fadeIn linear 2s;
    -o-animation: fadeIn linear 2s;
    -ms-animation: fadeIn linear 2s;
}

.statement
{
    opacity: 0;
    color: #d9f4ff;
    margin-top: -20px;
    margin-bottom: -20px;
    animation: fadeIn linear 2s;
    animation-delay: 0.75s;
    animation-fill-mode: forwards;
    -webkit-animation: fadeIn linear 2s;
    -webkit-animation-delay: 0.50s;
    -webkit-animation-fill-mode:forwards;
    -moz-animation: fadeIn linear 2s;
    -o-animation: fadeIn linear 2s;
    -ms-animation: fadeIn linear 2s;
}


.description
{
    opacity: 0;
    color: #d9f4ff;
    animation: fadeIn linear 2s;
    animation-delay: 0.75s;
    animation-fill-mode: forwards;
    -webkit-animation: fadeIn linear 2s;
    -webkit-animation-delay: 0.75s;
    -webkit-animation-fill-mode:forwards;
    -moz-animation: fadeIn linear 2s;
    -o-animation: fadeIn linear 2s;
    -ms-animation: fadeIn linear 2s;
}
  
@keyframes buttonFade
{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}

@keyframes fadeIn 
{
    0% 
    { 
        opacity:0;
        margin-left: -100%;
        width: 300%;
    }
    100% 
    {
        opacity:1;
        margin-left: 0%;
        width: 100%;  
    }
}

@-moz-keyframes fadeIn 
{
    0% 
    { 
        opacity:0;
        margin-left: -100%;
        width: 300%;
    }
    100% 
    {
        opacity:1;
        margin-left: 0%;
        width: 100%;  
    }
}

@-webkit-keyframes fadeIn 
{
    0% 
    { 
        opacity:0;
        margin-left: -100%;
        width: 300%;
    }
    100% 
    {
        opacity:1;
        margin-left: 0%;
        width: 100%;  
    }
}

@-o-keyframes fadeIn 
{
    0% 
    { 
        opacity:0;
        margin-left: -100%;
        width: 300%;
    }
    100% 
    {
        opacity:1;
        margin-left: 0%;
        width: 100%;  
    }
}

@-ms-keyframes fadeIn 
{
    0% 
    { 
        opacity:0;
        margin-left: -100%;
        width: 300%;
    }
    100% 
    {
        opacity:1;
        margin-left: 0%;
        width: 100%;  
    }
}